.abonamente{
  width: 900px;
  margin: auto;
}

.titlu{
  text-align: center;
}

.next{
  margin-left: 85%;
  display: block;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}
.logout{
  margin-left: 100%;
}
