<div class="abonamente">
<div class="container">
<div class="logout">
    <button mat-raised-button (click)="logOut()" color="primary">Logout</button>
</div>
<br> <br><br>

<div class="abonamente">
  <br><br>
  <h2 class="titlu">Tipuri de abonamente</h2>
  <br><br>


  <mat-tab-group>
  <mat-tab label="Copii"> Abonament pentru copii intre 10-15 ani.
    Pret: 70 lei/luna
    <button mat-stroked-button (click)="copii()">Add</button>
  </mat-tab>

  <mat-tab label="Student"> Abonament pentru studenti. Abonament pe baza de legitimatie.
    Pret: 80 lei/luna
    <button mat-stroked-button (click)="student()">Add</button>
   </mat-tab>

  <mat-tab label="Happy-hour"> Abonament pentru orice persoana. Aconament valabil in fiecare zi intre orele 10:00-15:00.
    Pret: 80 lei/luna
    <button mat-stroked-button (click)="happy()">Add</button>
  </mat-tab>

  <mat-tab label="Cardio"> Abonament pentru orice persoana. Acesul este doar pentru aparatele de cardio.
    Pret: 50 lei/luna
    <button mat-stroked-button (click)="cardio()">Add</button>
  </mat-tab>

  <mat-tab label="Full"> Abonament full. Acces la toate aparatele + sauna la orice ora din program.
    Pret: 100 lei/luna
    <button mat-stroked-button (click)="full()">Add</button>
  </mat-tab>
</mat-tab-group>

</div>

</div>
</div>
