<br><br><br><br><br>

<div class="displayTableCell">
  <h2>LogIn</h2>
  <div class="authBlock">
      <div class="formGroup">
          <mat-form-field class="example-full-width">
            <input matInput type="text" class="formControl" placeholder="Email Address" #userName required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
</div>
