
 .authBlock{
  padding: 20px;
  text-align: center;
}

.example-full-width {
  width: 75%;
}

.cardLogin {
  width: 30vw;
  height: 40vh;
  margin: 20vmin auto;
  text-align: center;
  padding: 20px;
  font-size: 35px;
} 






