.container{
  width: 700px;
  margin: auto;
  margin: auto;
  text-align: left;
  padding: 20px;
  box-shadow: 1px 1px 14px #ccc
}

.example-form {
  width: 100%;
  /* margin: auto; */
}

.example-full-width {
  width: 100%;
  /* margin: auto; */
}

.titlu{
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.mat-raised-button{
  margin-left: 80%;
}
